<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>224170196903-gq8pffrm8thb5ik2j4ol4ssj5g262ufs.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.224170196903-gq8pffrm8thb5ik2j4ol4ssj5g262ufs</string>
	<key>API_KEY</key>
	<string>AIzaSyAOwqIdM1hleDndaGNKTIS06ilGWJpSgvU</string>
	<key>GCM_SENDER_ID</key>
	<string>224170196903</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>hue</string>
	<key>PROJECT_ID</key>
	<string>lavalab-hue</string>
	<key>STORAGE_BUCKET</key>
	<string>lavalab-hue.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:224170196903:ios:d288638d625c4516f88082</string>
</dict>
</plist>